.exp-card-row {
  width: 50%;
  height: 100%;

  .exp-card {
    width: 90%;
    height: 70%;
    min-height: 75px;

    position: relative;
    overflow: hidden;
    border-radius: 25px;

    &::before {
      content: '';
      width: 75%;
      max-width: 160px;
      aspect-ratio: 1;

      position: absolute;
      top: -20%;
      left: -10%;

      border-radius: 50%;
      z-index: 1;
    }

    /* VARIATIONS */
    &.red {
      color: #A73131;
      background: linear-gradient(137.55deg, #FF8787 -24.93%, #C16A6A 117.04%);
      &::before { background: linear-gradient(136.15deg, rgba(247, 140, 140, 0) -34.41%, #F78C8C 62.64%); }
    }

    &.yellow {
      color: #A27430;
      background: linear-gradient(137.55deg, #FFCF87 -24.93%, #CA9547 117.04%);
      &::before { background: linear-gradient(136.15deg, rgba(246, 197, 122, 0) -34.41%, #F6C57A 95.22%); }
    }

    &.blue {
      color: #298693;
      background: linear-gradient(137.55deg, #87F0FF -24.93%, #3AA2B1 117.04%);
      &::before { background: linear-gradient(136.15deg, rgba(115, 220, 235, 0) -34.41%, #73DCEB 95.22%); }
    }

    &.purple {
      color: #9137BC;
      background: linear-gradient(137.55deg, #E09FFF -24.93%, #8A46AB 117.04%);
      &::before { background: linear-gradient(136.15deg, rgba(216, 143, 255, 0) -34.41%, #D88FFF 95.22%); }
    }

    span { z-index: 2; }
  }
}



/* LANDSCAPE VIEW */
@media (max-height: 567px) {
  .exp-card-row .exp-card {
    width: 90%;
    max-width: 150px;
    height: 70%;
    min-height: 30px;
    padding: 0 15px !important;

    span { font-size: 3vh !important; }
    &::before { left: -20%; }
  }
}
