.searchbox {
  height: 53px;
  overflow: hidden;

  border-radius: 16px;
  

  &.light { background: #E4E7F1DD; }
  &.dark {
    background: #05199E;

    input {
      color: whitesmoke;
      
      &::-webkit-search-cancel-button {
        -webkit-appearance: none;
        background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='%23AAA'><path d='M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z'/></svg>");
        height: 1rem;
        width: 1rem;
      }
    }
  }

  .search-container { aspect-ratio: 1; }

  input {
    flex-grow: 1;
    
    outline: none;
    background: none;
    border: none;
    padding-right: 20px;

    color: #3D56FA;
    font-weight: 300;
    font-family: 'Mitr';
    
    &::placeholder {
      color: #3D56FAAA;
      font-size: 1rem;
      font-weight: 400;
      transition: color 0.2s;
    }

    &::-webkit-search-cancel-button { cursor: pointer; }
    &:hover::placeholder, &:focus::placeholder { color: #3D56FADD; }
  }
}



@media (max-width: 400px) {
  .searchbox {
    height: 40px;
    
    input {
      font-size: 0.9rem;
      
      &::placeholder { font-size: 0.9rem; }
    }
  }
}
