.sign-in-page {
  padding: 45px 35px 0;

  .form {
      display: flex;
      flex-direction: column;
      align-self: center;
      width: 100%;
      max-width: 1000px;
  }

  .btn {
      align-self: center;
  }
}

@media (max-width: 400px) {
  .sign-in-page {
    padding: 20px;
  }
}