.cover {
  height: calc(100vh - 322px);
  padding-top: calc(90vh - 297px);
  overflow: scroll;

  &::-webkit-scrollbar { display: none; }

  position: relative;
  z-index: 3;

  .cover-content {
    height: calc(100vh - 322px);

    border-radius: 60px 60px 0 0;
    background: linear-gradient(168.53deg, #4960F9 -0.74%, #1937FE 123.45%);

    .handle {
      width: 15%;
      max-width: 100px;
      height: 5px;

      margin: 0 auto;
      background: white;
      border-radius: 2.5px;
    }

    .searchbox {
      width: 75%;
      max-width: 500px;
      margin: 10px auto;
    }


    .trx {
      color: white;
      height: 60px;

      &:nth-child(1) .img { background: radial-gradient(#DB0000 0%, #831010 100%); }
      &:nth-child(2) .img { background: radial-gradient(#5C5C5C 0%, #141414 100%); }

      .trx-time { color: #80E0FF; }

      &:hover { background: #8998FB; }
    }
  }
}


/* LANDSCAPE VIEW */
@media (max-height: 567px) {
  .cover {
    height: calc(100vh - 186px);
    padding-top: calc(90vh - 195px);

    .cover-content {
      height: calc(100vh - 186px);

      .searchbox { height: 35px; }
      .handle { height: 5px; }  

      .trx {
        height: 12vh;
        font-size: 0.6rem;

        .img, .trx-title, .trx-time { font-size: 0.6rem; }
      }
    }
  }
}
