@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


.circles-container {
  position: absolute;
  top: 0;
  left: 0;
  
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  z-index: 0; 
  
  .circle { 
    border-radius: 50%;
    animation: spin 15s infinite linear;
  }
  
  >* { position: absolute; }
}

/* Circle Colors */
.circle-1{
  background: linear-gradient(0deg, #00000033, #00000033), linear-gradient(134.4deg, #5264F9 -53.64%, #3AF9EF 55.89%);
  z-index: 3;
}
.circle-2{
  background: linear-gradient(0deg, #00000033, #00000033), linear-gradient(307.83deg, #C630F800 -113.81%, #7B43F880 106.56%, #2F56F8 170.15%);
  z-index: 2;
}
.circle-3{
  background: linear-gradient(0deg, #00000033, #00000033), linear-gradient(121.81deg, #FF01C7 -53.65%, #C62FF800 275.21%, #68198300 275.21%);
  z-index: 1;
}


/* BIG CIRCLES */
.big-circles {
  .circle-1{
    width: 805px; height: 777px;
    top: -350px; left: -510px;
  }
  .circle-2{
    width: 830px; height: 870px;
    top: -394px; left: -440px;
  }
  .circle-3{
    width: 827px; height: 870px;
    top: -499px; left: -366px;
  }
}


/* SMALL CIRCLES */
.small-circles {
  .circle-1{
    width: 360px; height: 378px;
    top: -145px; left: -50px;
  }
  .circle-2{
    width: 360px; height: 378px;
    top: -125px; left: -5px;
  }
  .circle-3{
    width: 360px; height: 378px;
    top: -165px; left: 40px;
  }
}




/* Media Queries */
@media (max-width: 400px) {
  .big-circles {
    .circle-1 {
      width: 755px; height: 677px;
      top: -350px; left: -510px;
    }
    .circle-2 {
      width: 730px; height: 750px;
      top: -394px; left: -440px;
    }
    .circle-3 {
      width: 727px; height: 770px;
      top: -499px; left: -366px;
    }
  }

  .small-circles {
    .circle-1 {
      width: 300px; height: 315px;
      top: -145px; left: -110px;
    }
    .circle-2 {
      width: 280px; height: 294px;
      top: -125px; left: -55px;
    }
    .circle-3 {
      width: 320px; height: 328px;
      top: -185px; left: -50px;
    }
  }
}
