.welcome-back {
  width: 110px;
  z-index: 10;

  .welcome-logo { width: 60px; }

  .welcome-logo-text {
    font-weight: 700;
    font-size: 20px;
    letter-spacing: 1px;
    color: white;
    font-family: 'Montserrat', sans-serif;
    margin-top: 35px;
  }
}


@media (max-width: 400px) {
  .welcome-back > .welcome-logo-text { margin-top: 10px; }
}
