.otp-page {
  height: 100vh;

  .otp-img {
    height: 35vh;
    margin: 7vh 0 7.5vh 0;
  }

  h1 { font-size: 1.5rem; }
  h3 {
    font-size: 1.1rem;
    width: 85vw;
  }
}


@media (max-width: 400px) {
  .otp-page {
    .otp-img { height: 25vh; }

    h1 { font-size: 1.2rem; }
    h3 { font-size: 0.95rem; }
  }
}
