.savings-page {
  width: 100%;
  height: calc(100vh - 322px);
  overflow: scroll;

  position: fixed;
  margin-top: 25px;

  .back {
    width: 100%;
    height: calc(90vh - 297px);

    position: fixed;
    top: 235px;
    z-index: 0;

    h1 { height: 5vh; }

    .exp-card-container {
      width: 80%;
      max-width: 600px;
      height: calc(85vh - 317px);
      min-height: 100px;
    }
  }
}





/* LANDSCAPE VIEW */
@media (max-height: 567px) {
  .savings-page {
    height: calc(100vh - 185px);
    margin-top: 15px;

    .back {
      height: calc(90vh - 195px);
      top: 115px;

      h1 { height: 7vh; }

      .exp-card-container { height: calc(85vh - 200px); }
    }
  }
}
