.banner {
  width: 100%;
  height: 210px;
  
  box-shadow: 0 5px #83E7FE;
  border-radius: 0 0 60px 60px;
  background: linear-gradient(168.53deg, #4960F9 -0.74%, #1937FE 123.45%);
  
  &.shorter { height: 137px; }

  .hamburger {
    position: relative;
    top: 45px;
    left: 30px;

    cursor: pointer;
    color: whitesmoke;
    transition: filter 0.2s;

    &:hover { filter: brightness(0.9); }
  }

  .banner-img-container {
    width: 60px;
    height: 60px;
    border-radius: 50%;

    position: absolute;
    top: 30px;
    right: 30px;

    overflow: hidden;
    background: white;
    box-shadow: 0 6px 16px #00000033;
  }

  .greeting-container {
    width: 100%;
    position: absolute;
    top: 100px;

    .banner-name {
      width: 75%;
      max-width: 800px;
      font-size: 1.4rem;
    }
  }
}
