/** SIGN IN/UP FORM **/
form.sign-up-in-form {
  width: 100%;
  max-width: 900px;
  height: 60vh;

  padding-bottom: 60px;
  z-index: 1;

  section {
    width: 100%;
    max-width: 1000px;
  }
  
  h1 { font-size: 28px; }

  a.forgot {
    color: #2B47FC;
    font-family: 'Mitr', sans-serif;

    &:hover { text-decoration: underline; }
  }
}



/** OTP FORM **/
div.otp-form {
  width: 100%;
  h4 {
    color: #B9B9B9;
    font-size: 1rem;

    a { color: #2743FD; &:hover { text-decoration: underline; } }
  }

  .box { min-height: 150px; }

  .number-container {
    width: 60vw;
    max-width: 350px;
    
    padding: 1vh 4vw;
    box-sizing: border-box;
    border-bottom: 1px solid black;

    .tel { margin-right: 0.5rem; }

    input {
      width: 7.5rem;
      border: none;
      background: none;

      &:focus, &:focus-within { outline: none; }
    }
  }

  .btn { margin: 30px auto; }

  .otp-container input {
    font-size: 1.5rem;
    text-align: center;

    width: 49px;
    border: none;
    border-radius: 0px;
    border-bottom: 1px solid #B9B9B9;
    background: none;
    margin: 0 12px;

    &:focus { outline: none; }
  }
}



/** SET UP FORM **/
form.setup-form {
  width: 85vw;
  max-width: 700px;
  margin: 0 auto;
  
  .img-container { height: 250px; position: relative; }

  .img-input {
    width: 100px;
    height: 99.45px;
    cursor: pointer;
    z-index: 3;

    background: white;
    overflow: hidden;
    border: none;
    border-radius: 36px;

    &:hover { background: whitesmoke; }
  }  

  .img-bg {
    position: absolute;
    width: 103.6px;
    height: 103.83px;
    border-radius: 36px;
  }

  .img-bg-1 {
    background: #40CEF2;
    transform: matrix(0.55, 0.84, -0.84, 0.54, 0, 0);
    z-index: 2;
  }
  .img-bg-2 {
    background: #B52FF8;
    transform: matrix(0.87, 0.5, -0.5, 0.87, 0, 0);
  }

  .form-input-container {
    .form-input { 
      color: white;
      font-weight: 500;
      border-bottom: 1px solid white;
    }

    .form-input-label { color: #80E0FF; }
  }

  .btn-container {
    padding: 50px 0 20px;
    
    .btn {
      border: 1px solid whitesmoke;
      
      &:hover {
        color: #2743FD;
        background: white;
        border: 1px solid white;
      }
    }
  }
}



/** PROFILE FORM **/
.profile-form {
  padding-top: 5px;

  .form-input-container {
    margin: 55px 0;

    .form-input { 
      color: #2743FD;
      font-weight: 500;
      border-bottom: 1px solid #DEE1EF;

      &:hover { border-bottom: 1px solid #DEE1EF; }
    }

    .form-input-label { color: #3A3A3A; }
  }
}


/** Media Queries **/
@media (max-width: 400px) {
  form.sign-up-in-form {
    font-size: 0.9rem;
    height: 350px;
    padding-bottom: 20px;

    h1 {
      font-size: 1.3rem;
      margin-bottom: 40px;
    }
  }

  form.setup-form {
    .img-container { height: 150px; }
    .btn-container {
      padding: 50px 0 20px;
    }
  }
}
